.page-footer__contacts {
  padding: 10px;
}

.page-footer__contacts_index {
  background-color: white;
  max-width: 767px;
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .page-footer__contacts_index {
    max-width: 1199px;
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  .page-footer__contacts_index {
    padding: 0;
  }
}

.page-footer__contacts {
  max-width: 767px;
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .page-footer__contacts {
    max-width: 1199px;
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  .page-footer__contacts {
    padding: 0;
  }
}

.contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin: 0 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  min-width: 280px;
}

@media (max-width: 320px) {
  .contacts {
    margin: 0 10px;
  }
}

@media (min-width: 1200px) {
  .contacts {
    position: absolute;
    top: 20px;
    width: 400px;
    z-index: 1;
    background-color: white;
  }
}

.contacts__header {
  font-size: 16px;
  width: 120px;
}

@media (min-width: 768px) {
  .contacts__header {
    font-size: 20px;
    line-height: 31px;
  }
}

.contacts__text {
  font-family: arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  line-height: 22px;
  width: 120px;
}

@media (min-width: 768px) {
  .contacts__text {
    line-height: 21px;
    font-size: 19px;
  }
}

.page-footer__map {
  width: 100%;
  max-width: 1440px;
  min-width: 280px;
}
