.scale, .example {
  display: flex;
  margin: 0 auto;
}

.range__hand::before, .range__hand {
  content: "";
  position: absolute;
}

.page-container__example {
  width: 100%;
  min-width: 320px;
  max-width: 760px;
}
@media (max-width: 285px) {
  .page-container__example {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .page-container__example {
    background-color: rgb(242, 242, 242);
  }
}
@media (min-width: 768px) {
  .page-container__example {
    min-width: 540px;
    max-width: 1115px;
    background: linear-gradient(to top, rgb(242, 242, 242) 50%, white 50%);
    padding: 40px;
  }
}
@media (min-width: 1200px) {
  .page-container__example {
    min-width: 1200px;
    max-width: 1440px;
    padding: 100px;
  }
}

.example {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  width: 90%;
  padding: 24px 0;
}
@media (min-width: 285px) {
  .example {
    margin: 0;
    padding: 12px;
    min-width: 280px;
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .example {
    min-width: 540px;
    max-width: 750px;
  }
}
@media (min-width: 1200px) {
  .example {
    min-width: 900px;
    max-width: 1080px;
  }
}

.example__content {
  width: 96%;
  max-width: 540px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example__content {
    min-width: 740px;
    max-width: 1050px;
  }
}
@media (min-width: 1200px) {
  .example__content {
    min-width: 900px;
    max-width: 1340px;
  }
}

.example__title {
  font-size: 36px;
  margin: 0 0 10px 0;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .example__title {
    margin-bottom: 90px;
  }
}

@media (min-width: 1200px) {
  .content {
    display: flex;
    align-items: center;
    margin-top: -125px;
  }
}

.content__text {
  font-family: arial;
  color: rgb(68, 68, 68);
}
@media (max-width: 767px) {
  .content__text {
    font-size: 14px;
    line-height: 18px;
    width: 95%;
  }
}
@media (min-width: 768px) {
  .content__text {
    font-size: 18px;
    line-height: 26px;
    margin: 50px auto;
  }
}
@media (min-width: 1200px) {
  .content__text {
    width: 471px;
  }
}

.content__results {
  position: relative;
  display: flex;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .content__results {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15%;
    min-width: 280px;
  }
}
@media (min-width: 768px) {
  .content__results {
    flex-direction: row;
    gap: 5%;
  }
}
@media (min-width: 1200px) {
  .content__results {
    flex-direction: row;
    margin-top: 70px;
  }
}

@media (min-width: 1200px) {
  .content-column {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .content__results__price {
    margin-left: 22%;
    font-size: 20px;
    line-height: 35px;
  }
}
@media (min-width: 1200px) {
  .content__results__price {
    position: absolute;
    top: 150px;
    left: 75px;
  }
}

@media (max-width: 767px) {
  .content__results__wrapper {
    max-width: 435px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .content__results__wrapper {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 20px;
}

.results__header {
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  padding: 16px;
  width: 84px;
  text-align: center;
  font-size: 24px;
}
@media (min-width: 768px) {
  .results__header {
    font-size: 30px;
    line-height: 37px;
    width: 140px;
    height: 50px;
  }
}

.results__text {
  color: rgb(68, 68, 68);
  position: absolute;
  background-color: rgb(242, 242, 242);
  width: 77px;
  font-family: arial;
  font-size: 12px;
  top: 72px;
  text-align: center;
  line-height: 13px;
}
@media (min-width: 768px) {
  .results__text {
    font-size: 14px;
    line-height: 14px;
    background-color: white;
    top: 93px;
    width: 140px;
  }
  .results__text br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .results__text {
    background-color: rgb(242, 242, 242);
  }
}

.compare {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__compare {
  margin-top: 90px;
}

.compare__price {
  margin-bottom: 40px;
  font-size: 14px;
}

.range {
  margin-top: 20px;
  position: relative;
}

.scale {
  font-weight: bold;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .scale {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .scale {
    margin-right: 80px;
  }
}

.scale__bar {
  content: "";
  background-color: white;
  border-radius: 10px;
  width: 94px;
  height: 12px;
  position: relative;
  border: 1px solid rgb(205, 205, 205);
}
@media (min-width: 768px) {
  .scale__bar {
    width: 428px;
    height: 4px;
    background-color: rgb(220, 220, 220);
  }
}

.scale__bar_var {
  content: "";
  background-color: rgb(104, 183, 56);
  border-radius: 10px;
  width: 44px;
  height: 6px;
  position: absolute;
  top: 3px;
  left: 3px;
}
@media (min-width: 768px) {
  .scale__bar_var {
    display: none;
  }
}

.range__hand {
  border-radius: 50%;
  background-color: white;
  width: 34px;
  height: 34px;
  top: 18px;
  left: 265px;
  box-shadow: 0 1px 2px 1px rgb(205, 205, 205);
  border: 1px solid rgb(205, 205, 205);
}
.range__hand::before {
  top: 13px;
  left: 13px;
  background-color: rgb(104, 183, 56);
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
@media (max-width: 767px) {
  .range__hand {
    display: none;
  }
}
.range__hand:hover {
  box-shadow: 0 3px 3px 1px rgb(205, 205, 205);
}
.range__hand:active {
  border: 1px solid rgb(104, 183, 56);
}

@media (min-width: 768px) {
  .status__min,
  .status__max {
    border-bottom: 1px dotted rgb(91, 91, 91);
  }
}
.status__min:hover,
.status__max:hover {
  border-bottom: 1px solid rgb(91, 91, 91);
}
.status__min:active,
.status__max:active {
  border-bottom: none;
}