.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.page-container__features {
  margin-bottom: 40px;
  padding: 20px;
  max-width: 540px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .page-container__features {
    margin-left: -135px;
  }
}

@media (min-width: 1290px) {
  .page-container__features {
    margin-left: -35px;
  }
}

.features {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .features {
    margin-left: -50px;
    width: 750px;
  }
}

@media (min-width: 1200px) {
  .features {
    width: 575px;
  }
}

.features__header {
  font-size: 36px;
  margin: 26px 0;
}

@media (min-width: 768px) {
  .features__header {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  .features__header {
    margin: 60px -245px;
  }
}

.features__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 415px) {
  .features__body {
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .features__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
}

@media (min-width: 1200px) {
  .features__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .body {
    width: 220px;
    height: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .body__text {
    font-family: arial;
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .body__text {
    font-weight: 400;
    font-family: arial;
    font-size: 16px;
    line-height: 24px;
  }
}

.body__back {
  visibility: hidden;
  position: absolute;
}

@media (min-width: 768px) {
  .body__back {
    visibility: visible;
    height: 260px;
    min-width: -110px;
    max-width: 135px;
    top: 20px;
    z-index: -1;
    left: 135px;
  }
}
