.producer, .producer__link {
  font-family: arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.page-footer__producer {
  width: 100%;
  min-width: 280px;
  max-width: 767px;
}

.producer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .producer {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.producer__link {
  text-decoration: none;
}

@media (min-width: 550px) {
  .producer__name br {
    display: none;
  }
}
