@import "variables.scss";

.catalog {
  @extend %global;
  flex-direction: column;
  min-width: 320px;
  margin-bottom: 35px;
  width: 100%;
  max-width: 767px;
}
.page-container__catalog {
  display: block;
  width: 100%;
  min-width: 300px;
  max-width: 767px;
}
.catalog__header {
  font-size: 36px;
  border-top: $border;
  padding: 20px;
  margin: 10px 20px;
  min-width: 280px;
  @media (min-width: 600px) {
    text-align: center;
  }
  @media (min-width:$tablet-width) {
    border: none;
    margin:20px 0 50px 0;
  }
  @media(min-width:$tablet-width){
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    margin-left: 20px;
  }
  @media(min-width:$desktop-width){
    text-align: start;
    margin-left: -150px;
  }
}
