@import "variables.scss";

.page-footer__producer {
  width: 100%;
  min-width: 280px;
  max-width: 767px;
}
.producer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @extend %text-font;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  @media (min-width:$tablet-width){
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}
.producer__link {
  text-decoration: none;
  @extend %text-font;
}
.producer__name {
  @media (min-width: 550px) {
    br {
      display: none;
    }
  }
}
