// viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width: 320px;

//colors
$color-1: rgba(104, 183, 56, 1);
$color-2: rgba(242, 242, 242, 1);

//other
$border: 1px solid rgba(217, 217, 217, 1);

//samples
%global {
  display: flex;
  margin: 0 auto;
}
%line {
  content: "";
  background-color: $color-1;
  position: absolute;
  height: 2px;
}
%element {
  content: "";
  position: absolute;
}

//fonts
%text-font {
  font-family: arial;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}
%table-font {
  font-family: arial;
  font-size: 12px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
  @media (min-width:$tablet-width){
    font-size: 14px;
    line-height: 18px;
  }
}
%form-font {
  color: rgba(68, 68, 68, 1);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  @media(min-width:$tablet-width){
  font-size: 20px;
  line-height: 30px;
  }
}
//btn
%btn {
  background-color: $color-1;
  color: white;
  border: none;
  height: 40px;
  font-weight: 500;
  line-height: 18px;
  font-size: 14px;
  font-family: "Oswald";
  text-transform: uppercase;
  @media(min-width:$tablet-width){
    font-size: 16px;
line-height: 20px;
  }
  &:hover{
    background-color: rgba(94, 170, 47, 1);
  }
  &:active{
    background-color: #5EAA2F;
color: rgba(255, 255, 255, 0.3);
  }
}
